div.LandingPage {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;

  &>.Howdy {
    font-family: Ranchers;
    animation: PopIn 1s ease-in;
    animation-fill-mode: forwards;
    font-size: 7em;
    color: white;
    margin-top: 18vh;

    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #964e10;
    -webkit-text-stroke-width: 2px; 

    @keyframes PopIn {
      0% { transform: scale(.05); }
      50% { transform: scale(1.1); }
      80% { transform: scale(0.9); }
      100% { transform: scale(1); }
    }

    &>img {
      height: 40vh;
      max-width: 90vw;
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    }
  }

  &>.EventDate {
    font-family: Ranchers;
    color: white;
    text-shadow: 0px 0px 2px black;
    letter-spacing: 0.1em;
  }

  &>.GuideLink {
    font-family: Ranchers;
    letter-spacing: 0.1em;
  }
  
}