div.PortalPage {
  min-height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    &>div.Links, &>div.Info {
      width: 100%;
    }

    &>div.Info {
      border-radius: 0px;
    }
  }

  &>.Links {
    display: flex;
    justify-content: space-around;
    width: 40em;
    margin: 1em 0px;

    &>.Link {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all ease-out 0.25s;
      text-decoration: none;

      &.--selected {
        filter: drop-shadow(0px 0px 10px gold);
        &>.Image { border-color: white; }
      }

      &.--no-access {
        opacity: 0.5;
        filter: blur(1px);
        cursor: not-allowed;
      }

      &>.Image {
        border: 2px solid black;
        border-radius: 40em;
        overflow: hidden;
        height: 5em;
        width: 5em;
        background-size: cover;
        background-position: center;
      }

      &>.Name {
        background: #06519e;
        color: white;
        border-radius: 3em;
        padding: .125em .5em;
      }
    }
  }

  &>.Info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    background: #f9f3e9;
    box-shadow: 1px 1px 10px #ffdea7;
    border-radius: 5em;
    overflow: hidden;
    padding: 1em 0px;

    &>.Title {
      font-size: 1.5em;
    }

    &>.WhatFer {
      color: #333;
      font-style: italic;
      padding-bottom: 0.5em;
    }
    
    &>img {
      max-width: 100%;
    }

    &>.btn {
      margin: 0.5em 0px;
    }

    .helium-md {
      ol, ul {
        margin: 0px;
      }

      ol > li {
        margin-top: 1em;
      }

      ul > li {
        margin-top: .25em;
      }
    }
  }
}