

div.PointyContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  transition: all ease-out 0.5s;

  transform: translateX(100%);
  &.--showPointy {
    transform: translateX(0%);
    &>.Pointy {
      transform: translate(25%, 5%) rotate(-15deg);
      &:hover {
        transform: translate(30%, 4%) rotate(-12deg);
      }
    }
    &>.BubblePositioner {
      opacity: 1;
    }
  }

  &.--showBubble.--showPointy {
    &>.BubblePositioner > .SpeechBubble {
      animation: Pop-In-Bubble 0.3s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
      @keyframes Pop-In-Bubble {
        0% { transform: scale(.05); opacity: 0;}
        50% { transform: scale(1.1); opacity: 1;}
        80% { transform: scale(0.9); opacity: 1; }
        100% { transform: scale(1); opacity: 1; }
      }
    }
  }

  &>.Pointy {
    height: 20em;
    width: 7em;
    max-width: 25vw;
    // background: green;
    background-image: url("/assets/img/pointy-mc-pointyface.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: all ease-out 0.5s;
    transform: translate(0%, 0%) rotate(0deg);
  }

  &>.BubblePositioner {
    position: absolute;
    bottom: 15em;
    transform: translate(-100%, 100%);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;

    &>.SpeechBubble {
      pointer-events: all;
      background: white;
      border-radius: 1.5em;
      min-height: 3.5em;
      width: 20em;
      max-width: 75vw;
      padding: 1em;
      opacity: 0;
      filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.1));
  
      animation: Hide-Bubble 0.5s;
      animation-fill-mode: forwards;
      @keyframes Hide-Bubble {
        0% { transform: scale(1); opacity: 1; }
        50% { transform: scale(0.5); opacity: 1; }
        100% { transform: scale(0.01); opacity: 0; }
      }

      p, ul, ol { margin: 0px; }

      &::before {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 1.5em;
        height: 2em;
        width: 2em;
        background: white;
  
        transform: translate(50%, -50%) scaleY(0.2) rotate(45deg) ;
      }
    }
  }
}