div.DocsNav {
  margin-bottom: 4em;

  a.Label {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.25em 0.5em;

    &:hover {
      background: #bf3207;
    }
  }

  .SubDocs {
    .Label { padding-left: 1.5em; }
    .SubDocs {
      .Label { padding-left: 3em; }
    }
  }
}