html, body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}


html {
  // background: #182127;
  background: linear-gradient(-1deg, #61b935, #bb6223 10%, #93d2ff 10%, #007eff 100%);
  background-color: #42a3ff;
  overflow-x: hidden;
}


@font-face {
  font-family: Ranchers;
  src: url('/assets/fonts/Ranchers/Ranchers-Regular.ttf');
}

body {
  font-size: 12px;
  @media (min-width: 350px) { font-size: 13px; }
  @media (min-width: 450px) { font-size: 14px; }
  @media (min-width: 600px) { font-size: 15px; }
  @media (min-width: 800px) { font-size: 16px; }
  @media (min-width: 1000px) { font-size: 17px; }
  @media (min-width: 1200px) { font-size: 18px; }
  @media (min-width: 1400px) { font-size: 19px; }
  @media (min-width: 1600px) { font-size: 20px; }
}


.btn {
  position: relative;
  display: inline-flex;
  width: fit-content;
  cursor: pointer;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  padding: 0.5em 2em;
  min-width: 8em;
  border-radius: 0.75em;
  border: none;
  color: #0368d2;
  text-decoration: none;

  &:hover { 
    text-decoration: none; 
    &::before {
      filter: drop-shadow(0px 0px 6px #f7941e);
    }
  }

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  
  &::before {
    border-radius: 0.8em;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to bottom right, #f7941e, #9a5b10);
    box-shadow: 0px 0px 6px #f7941e;
  }

  &::after {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 1em;
  }
}



// $nav-color: #6d3912;
// $nav-color: #005d59;
$nav-color: #bf3207;



div.App {
  @media (max-width: 750px) {
    &>.Background {
      &>div.MrBlueSkies {
        left: 2vw;
      }
    }

    &>div.PageContent {
      &>div.Topbar {
        display: flex;
      }
  
      &>div.Sidebar {
        position: fixed;
        transform: translateX(-100%);
        opacity: 0;
        padding-top: 3em;
      }
    }

    &.--hasSidebar {
      &>div.PageContent {
        &>.Topbar {
          transform: translateY(0%);
        }

        &>.MainContent::after {
          display: block;
          content: "";
          position: absolute;
          pointer-events: none;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background: black;
          opacity: 0;
          transition: opacity 0.25s ease-out;
        }
      }

      &.--showSidebar {
        &>div.PageContent {
          &>.Sidebar {
            transform: translateX(0%);
            opacity: 1;
          }

          &>.MainContent::after {
            opacity: 0.7;
          }
        }
      }
    }
  }

  @media (min-width: 750px) {
    &.--hasSidebar {
      &>.Background > .MrBlueSkies {
        left: 15vw;
      }
    }
  }


  &>.Background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-1deg, #02a652, #f7941e 10%, #93d2ff 10%, #007eff 100%);

    &>.Grass {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 8em;
      background-image: url("/assets/img/grass.png");
      background-size: 110% 100%;
      background-position: 20% 0%;
    }

    &>.Cloud {
      position: absolute;
      top: 1em;
      height: 20vh;
      pointer-events: none;
      
      animation: Float-By 120s linear;
      animation-iteration-count: infinite;
      animation-delay: -180s;

      @keyframes Float-By {
        0% { left: 10vw; }
        50% { left: 100vw; }
        51% { visibility: hidden; left: 100vw; }
        52% { visibility: hidden; left: -100vh; }
        100% { left: 10vw;}
      }

      &.large {
        animation-delay: -30s;
        animation-duration: 240s;
      }
    }

    &>.MrBlueSkies {
      position: absolute;
      left: 2vw;
      transition: left 5s ease-out;
      animation: Floaty-Bounce 2s linear;
      animation-iteration-count: infinite;

      @keyframes Floaty-Bounce {
        0% { top: 0vh; }
        50% { top: 0.5vh; }
        100% { top: 0vh; }
      }

      &>.Face {
        position: absolute;
        top: 42%;
        left: 54%;
        transform: translate(-50%, -50%);
        height: 69%;
      }
      &>.Beams {
        height: 24vh;
        animation: Spin 10s linear;
        animation-iteration-count: infinite;
        @keyframes Spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }
    }
  }

  &>.PageContent {
    display: grid;
    grid-template-columns: max-content 1fr;
    min-height: 100vh;
    width: 100vw;
    cursor: url("/assets/img/texas-tiny.png") 10 0, default;

    pointer-events: none;
    &>.Topbar, &>.Sidebar, &>.MainContent>*>* { pointer-events: all; }
    

    .EventLogo {
      display: block;
      font-family: Ranchers;
      text-align: center;
      // background: #653e01;
      color: #f7941e;
      text-decoration: none;
      font-size: 1.5em;
      padding: 0.25em 0px;
    }

    &>.Topbar {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0.5em;
      position: fixed;
      top: 0px;
      width: 100vw;
      z-index: 2;
      background: #222222;
      transition: transform 0.25s ease-out;
      transform: translateY(-100%);

      &>.IndexLink {
        height: 2.5em;
        width: 2em;
        background: url("/assets/img/icon-hamburger.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1);
      }
    }

    &>.Sidebar {
      background: #222;
      color: white;
      max-width: 20em;

      box-shadow: 1px 1px 12px #1116;

      position: sticky;
      z-index: 1;
      top: 0px;
      overflow-y: auto;
      height: 100vh;

      transition: 0.25s ease-out;
      transition-property: opacity, transform;

      .EventLogo > img {
        height: 7em;
        margin: auto;
      }

      // &>.Tweener {
      //   position: sticky;
      //   top: 0px;
      //   overflow-y: auto;
      //   height: 100vh;
      // }

      // .Tweener-Content {
      //   min-height: 100vh;
      // }
    }

    &>.MainContent {
      position: relative;
      cursor: inherit;

      &>.Tweener {
        height: 100%;
        width: 100%;
      }

      .DocList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: Min(50em, 100vw);
        margin: auto;
        padding: 0px 0.5em;
      }

      .Doc {
        margin: 4em 1em;
        background: #f9f3e9;
        padding: 0.5em;
        border-radius: 0.25em;
        width: 100%;
        max-width: Min(50em, 100vw);
        min-height: 4em;
        box-shadow: 1px 1px 10px #ffdea7;
        padding-bottom: 3em;
        padding-left: 1.5em;

        line-height: 1.75em;
        opacity: 0;

        &.--loaded {
          animation: Fade-In 0.25s ease-out;
          animation-fill-mode: forwards;
    
          @keyframes Fade-In {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
        }

        #Overview ul > li {
          margin-bottom: 5em;
        }


        h1, h2, h3, h4, h5, p, ul, ol { margin: 0px; }
        ul, ol { padding-left: 1.5em; }
        li { margin-bottom: 0.5em; }

        strong { color: #026934; }

        &>.helium-md>div {
          position: relative;
          padding-left: 1em;

          &::before {
            display: block;
            content: "";
            position: absolute;
            top: 2em;
            bottom: 1em;
            left: 0.5em;
            width: 3px;
            transform: translateX(-50%);
            background: linear-gradient(48deg, transparent, transparentize($nav-color, 0.5));
            border-radius: 1em;
          }

          img {
            position: relative;
            display: block;
            max-width: Min(40em, 100%);
            // margin: auto;
            border-radius: 0.5em;
            overflow: hidden;
            border: 1px solid #e0c8a0;
          }

          h3 {
            position: relative;
            left: -0.7em;
            color: $nav-color;
            font-size: 1.5em;
            margin-bottom: 0.25em;
          }
        }

        h1 {
          position: relative;
          font-family: Ranchers;
          letter-spacing: 0.1em;
          left: -0.25em;
          margin-bottom: 0.75em;
          margin-top: 0.5em;
          color: #0368d2;
        }

        h1, h3 {
          a { 
            opacity: 0; 
            text-decoration: none;
            transition: opacity 0.5s;
            margin-left: 0.5em;

            &.RawLink {
              display: inline-block;
              margin-left: 0.5em;
              height: 1em;
              width: 1em;
              background-image: url("/assets/img/icon-edit.png");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              vertical-align: bottom;
            }
          }
          &:hover a { 
            opacity: 1; 
            &:hover { 
              opacity: 0.5;
            }
          }
        }

        hr {
          border: none;
          height: 1.25em;
          background: #182127;
          margin: 3em 1em;
          border-radius: 2em;
        }

        a, a:visited {
          color: #0071b5;
          &:hover { opacity: 0.5; }
        }
      }
    }
  }
}
