div.GalleryGame {
  position: relative;
  width: 80vw;

  &>.CanvasStack {
    position: relative;

    &>canvas {
      image-rendering: pixelated;
      height: 100%;
      width: 100%;
  
      &:not(:first-child) {
        position: absolute;
        left: 0px;
        top: 0px;
      }

      &.TransparentEntities {
        opacity: 0.333;
      }
    }
  }

  &>.UIOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;

    &>* { pointer-events: all; }

    &>.Location {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    &>.Link {
      position: absolute;
      top: 50%;
      font-size: 1.5em;
      left: 50%;
      transform: translate(-50%, 2.5em);
      animation: Pop-In 0.4s ease-out;
      @keyframes Pop-In {
        0% { transform: translate(-50%, 2.5em) scale(.05);  opacity: 0; }
        50% { transform: translate(-50%, 2.5em) scale(1.1); }
        80% { transform: translate(-50%, 2.5em) scale(0.9); }
        100% { transform: translate(-50%, 2.5em) scale(1);  opacity: 1; }
      }
    }
  }
}